=begin
#Siteimprove API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.1.0

=end

require 'cgi'

module SiteimproveAPIClient
  class AnalyticsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get all account-specific shortened URLs
    # Get all account-specific shortened URLs
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [ShortenedUrlList]
    def analytics_url_shortener_shortened_urls_get(site_id, opts = {})
      data, _status_code, _headers = analytics_url_shortener_shortened_urls_get_with_http_info(site_id, opts)
      data
    end

    # Get all account-specific shortened URLs
    # Get all account-specific shortened URLs
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [Array<(ShortenedUrlList, Integer, Hash)>] ShortenedUrlList data, response status code and response headers
    def analytics_url_shortener_shortened_urls_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.analytics_url_shortener_shortened_urls_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling AnalyticsApi.analytics_url_shortener_shortened_urls_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AnalyticsApi.analytics_url_shortener_shortened_urls_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.analytics_url_shortener_shortened_urls_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.analytics_url_shortener_shortened_urls_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/analytics/url_shortener/shortened_urls'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'site_id'] = site_id
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ShortenedUrlList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.analytics_url_shortener_shortened_urls_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#analytics_url_shortener_shortened_urls_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get available segments
    # Get the available segments. Segments can be used to segment the data shown by appending the query parameter \"filter_id\".
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [AnalyticsFilterDetailsList]
    def settings_analytics_segments_get(opts = {})
      data, _status_code, _headers = settings_analytics_segments_get_with_http_info(opts)
      data
    end

    # Get available segments
    # Get the available segments. Segments can be used to segment the data shown by appending the query parameter \&quot;filter_id\&quot;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [Array<(AnalyticsFilterDetailsList, Integer, Hash)>] AnalyticsFilterDetailsList data, response status code and response headers
    def settings_analytics_segments_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.settings_analytics_segments_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AnalyticsApi.settings_analytics_segments_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.settings_analytics_segments_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.settings_analytics_segments_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/settings/analytics/segments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AnalyticsFilterDetailsList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.settings_analytics_segments_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#settings_analytics_segments_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get visit depth from behavior
    # Get the visit depth. Depth relates to the number of page views for each visit. Visits with a high number of page views suggests that the site is encouraging visitors to stay.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [VisitDepthList]
    def sites_site_id_analytics_behavior_visit_depth_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_analytics_behavior_visit_depth_get_with_http_info(site_id, opts)
      data
    end

    # Get visit depth from behavior
    # Get the visit depth. Depth relates to the number of page views for each visit. Visits with a high number of page views suggests that the site is encouraging visitors to stay.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [Array<(VisitDepthList, Integer, Hash)>] VisitDepthList data, response status code and response headers
    def sites_site_id_analytics_behavior_visit_depth_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.sites_site_id_analytics_behavior_visit_depth_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling AnalyticsApi.sites_site_id_analytics_behavior_visit_depth_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visit_depth_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visit_depth_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visit_depth_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/analytics/behavior/visit_depth'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter_id'] = opts[:'filter_id'] if !opts[:'filter_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VisitDepthList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.sites_site_id_analytics_behavior_visit_depth_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#sites_site_id_analytics_behavior_visit_depth_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get historical data of visit depth from behavior
    # A series of historical data points showing the average amount of page views.  When viewing historical data the resolution of the data points will be dependent on the period specified. For single-day periods the resolution will be hours. For periods less than 62 days (approximately two months) the resolution will be days. For longer periods the resolution will be months.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [VisitDepthGraphItemList]
    def sites_site_id_analytics_behavior_visit_depth_history_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_analytics_behavior_visit_depth_history_get_with_http_info(site_id, opts)
      data
    end

    # Get historical data of visit depth from behavior
    # A series of historical data points showing the average amount of page views.  When viewing historical data the resolution of the data points will be dependent on the period specified. For single-day periods the resolution will be hours. For periods less than 62 days (approximately two months) the resolution will be days. For longer periods the resolution will be months.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [Array<(VisitDepthGraphItemList, Integer, Hash)>] VisitDepthGraphItemList data, response status code and response headers
    def sites_site_id_analytics_behavior_visit_depth_history_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.sites_site_id_analytics_behavior_visit_depth_history_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling AnalyticsApi.sites_site_id_analytics_behavior_visit_depth_history_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visit_depth_history_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visit_depth_history_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visit_depth_history_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/analytics/behavior/visit_depth/history'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter_id'] = opts[:'filter_id'] if !opts[:'filter_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VisitDepthGraphItemList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.sites_site_id_analytics_behavior_visit_depth_history_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#sites_site_id_analytics_behavior_visit_depth_history_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get visit length from behavior
    # Get the length of a visit. Length relates to the duration (in minutes) of each visit.. This data can be used to determine how much your website retains visitor - if the visit length is typically low, you could investigate ways to keep your visitors on your site for longer.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [VisitLengthList]
    def sites_site_id_analytics_behavior_visit_length_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_analytics_behavior_visit_length_get_with_http_info(site_id, opts)
      data
    end

    # Get visit length from behavior
    # Get the length of a visit. Length relates to the duration (in minutes) of each visit.. This data can be used to determine how much your website retains visitor - if the visit length is typically low, you could investigate ways to keep your visitors on your site for longer.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [Array<(VisitLengthList, Integer, Hash)>] VisitLengthList data, response status code and response headers
    def sites_site_id_analytics_behavior_visit_length_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.sites_site_id_analytics_behavior_visit_length_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling AnalyticsApi.sites_site_id_analytics_behavior_visit_length_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visit_length_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visit_length_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visit_length_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/analytics/behavior/visit_length'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter_id'] = opts[:'filter_id'] if !opts[:'filter_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VisitLengthList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.sites_site_id_analytics_behavior_visit_length_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#sites_site_id_analytics_behavior_visit_length_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get historical data of visit length from behavior
    # A series of historical data points showing the average visit length. Length relates to the duration (in minutes) of each visit.  When viewing historical data the resolution of the data points will be dependent on the period specified. For single-day periods the resolution will be hours. For periods less than 62 days (approximately two months) the resolution will be days. For longer periods the resolution will be months.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [VisitLengthGraphItemList]
    def sites_site_id_analytics_behavior_visit_length_history_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_analytics_behavior_visit_length_history_get_with_http_info(site_id, opts)
      data
    end

    # Get historical data of visit length from behavior
    # A series of historical data points showing the average visit length. Length relates to the duration (in minutes) of each visit.  When viewing historical data the resolution of the data points will be dependent on the period specified. For single-day periods the resolution will be hours. For periods less than 62 days (approximately two months) the resolution will be days. For longer periods the resolution will be months.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [Array<(VisitLengthGraphItemList, Integer, Hash)>] VisitLengthGraphItemList data, response status code and response headers
    def sites_site_id_analytics_behavior_visit_length_history_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.sites_site_id_analytics_behavior_visit_length_history_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling AnalyticsApi.sites_site_id_analytics_behavior_visit_length_history_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visit_length_history_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visit_length_history_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visit_length_history_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/analytics/behavior/visit_length/history'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter_id'] = opts[:'filter_id'] if !opts[:'filter_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VisitLengthGraphItemList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.sites_site_id_analytics_behavior_visit_length_history_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#sites_site_id_analytics_behavior_visit_length_history_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get visits by hour of the day from behavior
    # Get the distribution of visits and page views over hours of the day.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [VisitHourList]
    def sites_site_id_analytics_behavior_visits_by_hour_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_analytics_behavior_visits_by_hour_get_with_http_info(site_id, opts)
      data
    end

    # Get visits by hour of the day from behavior
    # Get the distribution of visits and page views over hours of the day.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [Array<(VisitHourList, Integer, Hash)>] VisitHourList data, response status code and response headers
    def sites_site_id_analytics_behavior_visits_by_hour_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.sites_site_id_analytics_behavior_visits_by_hour_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling AnalyticsApi.sites_site_id_analytics_behavior_visits_by_hour_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visits_by_hour_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visits_by_hour_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visits_by_hour_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/analytics/behavior/visits_by_hour'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter_id'] = opts[:'filter_id'] if !opts[:'filter_id'].nil?
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VisitHourList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.sites_site_id_analytics_behavior_visits_by_hour_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#sites_site_id_analytics_behavior_visits_by_hour_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get visits by day of the month from behavior
    # Get the distribution of visits and page views over day of the month.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [VisitMonthDayList]
    def sites_site_id_analytics_behavior_visits_by_monthday_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_analytics_behavior_visits_by_monthday_get_with_http_info(site_id, opts)
      data
    end

    # Get visits by day of the month from behavior
    # Get the distribution of visits and page views over day of the month.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [Array<(VisitMonthDayList, Integer, Hash)>] VisitMonthDayList data, response status code and response headers
    def sites_site_id_analytics_behavior_visits_by_monthday_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.sites_site_id_analytics_behavior_visits_by_monthday_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling AnalyticsApi.sites_site_id_analytics_behavior_visits_by_monthday_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visits_by_monthday_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visits_by_monthday_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visits_by_monthday_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/analytics/behavior/visits_by_monthday'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter_id'] = opts[:'filter_id'] if !opts[:'filter_id'].nil?
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VisitMonthDayList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.sites_site_id_analytics_behavior_visits_by_monthday_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#sites_site_id_analytics_behavior_visits_by_monthday_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get visits by weekday from behavior
    # Get the distribution of visits and page views over weekday.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [VisitWeekDayList]
    def sites_site_id_analytics_behavior_visits_by_weekday_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_analytics_behavior_visits_by_weekday_get_with_http_info(site_id, opts)
      data
    end

    # Get visits by weekday from behavior
    # Get the distribution of visits and page views over weekday.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [Array<(VisitWeekDayList, Integer, Hash)>] VisitWeekDayList data, response status code and response headers
    def sites_site_id_analytics_behavior_visits_by_weekday_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.sites_site_id_analytics_behavior_visits_by_weekday_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling AnalyticsApi.sites_site_id_analytics_behavior_visits_by_weekday_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visits_by_weekday_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visits_by_weekday_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_behavior_visits_by_weekday_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/analytics/behavior/visits_by_weekday'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter_id'] = opts[:'filter_id'] if !opts[:'filter_id'].nil?
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VisitWeekDayList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.sites_site_id_analytics_behavior_visits_by_weekday_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#sites_site_id_analytics_behavior_visits_by_weekday_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get historical data for the specific campaign combination
    # A series of historical data points showing the amount of visits for the specific campaign combination.  When viewing historical data the resolution of the data points will be dependent on the period specified. For single-day periods the resolution will be hours. For periods less than 62 days (approximately two months) the resolution will be days. For longer periods the resolution will be months.
    # @param site_id [Integer] Id for specific site.
    # @param name_id [Integer] Id for specific campaign name
    # @param source_id [Integer] Id for specific campaign source
    # @param medium_id [Integer] Id for specific campaign medium
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [CampaignSummaryVisitsPageList]
    def sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_history_get(site_id, name_id, source_id, medium_id, opts = {})
      data, _status_code, _headers = sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_history_get_with_http_info(site_id, name_id, source_id, medium_id, opts)
      data
    end

    # Get historical data for the specific campaign combination
    # A series of historical data points showing the amount of visits for the specific campaign combination.  When viewing historical data the resolution of the data points will be dependent on the period specified. For single-day periods the resolution will be hours. For periods less than 62 days (approximately two months) the resolution will be days. For longer periods the resolution will be months.
    # @param site_id [Integer] Id for specific site.
    # @param name_id [Integer] Id for specific campaign name
    # @param source_id [Integer] Id for specific campaign source
    # @param medium_id [Integer] Id for specific campaign medium
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [Array<(CampaignSummaryVisitsPageList, Integer, Hash)>] CampaignSummaryVisitsPageList data, response status code and response headers
    def sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_history_get_with_http_info(site_id, name_id, source_id, medium_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_history_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling AnalyticsApi.sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_history_get"
      end
      # verify the required parameter 'name_id' is set
      if @api_client.config.client_side_validation && name_id.nil?
        fail ArgumentError, "Missing the required parameter 'name_id' when calling AnalyticsApi.sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_history_get"
      end
      # verify the required parameter 'source_id' is set
      if @api_client.config.client_side_validation && source_id.nil?
        fail ArgumentError, "Missing the required parameter 'source_id' when calling AnalyticsApi.sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_history_get"
      end
      # verify the required parameter 'medium_id' is set
      if @api_client.config.client_side_validation && medium_id.nil?
        fail ArgumentError, "Missing the required parameter 'medium_id' when calling AnalyticsApi.sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_history_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AnalyticsApi.sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_history_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_history_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_history_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/analytics/campaigns/combinations/{name_id}/{source_id}/{medium_id}/history'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s)).sub('{' + 'name_id' + '}', CGI.escape(name_id.to_s)).sub('{' + 'source_id' + '}', CGI.escape(source_id.to_s)).sub('{' + 'medium_id' + '}', CGI.escape(medium_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter_id'] = opts[:'filter_id'] if !opts[:'filter_id'].nil?
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CampaignSummaryVisitsPageList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_history_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_history_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the pages visited by the specific campaign combination
    # Lists all the pages visited by the specific combination of campaign name, source and medium.
    # @param site_id [Integer] Id for specific site.
    # @param name_id [Integer] Id for specific campaign name
    # @param source_id [Integer] Id for specific campaign source
    # @param medium_id [Integer] Id for specific campaign medium
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [CampaignSummaryPagesList]
    def sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_pages_get(site_id, name_id, source_id, medium_id, opts = {})
      data, _status_code, _headers = sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_pages_get_with_http_info(site_id, name_id, source_id, medium_id, opts)
      data
    end

    # Get the pages visited by the specific campaign combination
    # Lists all the pages visited by the specific combination of campaign name, source and medium.
    # @param site_id [Integer] Id for specific site.
    # @param name_id [Integer] Id for specific campaign name
    # @param source_id [Integer] Id for specific campaign source
    # @param medium_id [Integer] Id for specific campaign medium
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [Array<(CampaignSummaryPagesList, Integer, Hash)>] CampaignSummaryPagesList data, response status code and response headers
    def sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_pages_get_with_http_info(site_id, name_id, source_id, medium_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_pages_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling AnalyticsApi.sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_pages_get"
      end
      # verify the required parameter 'name_id' is set
      if @api_client.config.client_side_validation && name_id.nil?
        fail ArgumentError, "Missing the required parameter 'name_id' when calling AnalyticsApi.sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_pages_get"
      end
      # verify the required parameter 'source_id' is set
      if @api_client.config.client_side_validation && source_id.nil?
        fail ArgumentError, "Missing the required parameter 'source_id' when calling AnalyticsApi.sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_pages_get"
      end
      # verify the required parameter 'medium_id' is set
      if @api_client.config.client_side_validation && medium_id.nil?
        fail ArgumentError, "Missing the required parameter 'medium_id' when calling AnalyticsApi.sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_pages_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AnalyticsApi.sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_pages_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_pages_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_pages_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/analytics/campaigns/combinations/{name_id}/{source_id}/{medium_id}/pages'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s)).sub('{' + 'name_id' + '}', CGI.escape(name_id.to_s)).sub('{' + 'source_id' + '}', CGI.escape(source_id.to_s)).sub('{' + 'medium_id' + '}', CGI.escape(medium_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter_id'] = opts[:'filter_id'] if !opts[:'filter_id'].nil?
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CampaignSummaryPagesList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_pages_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#sites_site_id_analytics_campaigns_combinations_name_id_source_id_medium_id_pages_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get contents from campaigns
    # Content variations in the campaigns used to reach the website. The value in the parameter `utm_content` (or another \"Content\" campaign parameter that has been added).
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [CampaignContentList]
    def sites_site_id_analytics_campaigns_contents_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_analytics_campaigns_contents_get_with_http_info(site_id, opts)
      data
    end

    # Get contents from campaigns
    # Content variations in the campaigns used to reach the website. The value in the parameter &#x60;utm_content&#x60; (or another \&quot;Content\&quot; campaign parameter that has been added).
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [Array<(CampaignContentList, Integer, Hash)>] CampaignContentList data, response status code and response headers
    def sites_site_id_analytics_campaigns_contents_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.sites_site_id_analytics_campaigns_contents_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/analytics/campaigns/contents'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter_id'] = opts[:'filter_id'] if !opts[:'filter_id'].nil?
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CampaignContentList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.sites_site_id_analytics_campaigns_contents_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#sites_site_id_analytics_campaigns_contents_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get content details from campaigns
    # Shows the `name`, `source` and `medium` used in connection with the specified `content`.
    # @param site_id [Integer] Id for specific site.
    # @param parameter_name_id [Integer] Id for specific parameter name.
    # @param parameter_value_id [Integer] Id for specific parameter value.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [CampaignContentDetailsList]
    def sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_details_get(site_id, parameter_name_id, parameter_value_id, opts = {})
      data, _status_code, _headers = sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_details_get_with_http_info(site_id, parameter_name_id, parameter_value_id, opts)
      data
    end

    # Get content details from campaigns
    # Shows the &#x60;name&#x60;, &#x60;source&#x60; and &#x60;medium&#x60; used in connection with the specified &#x60;content&#x60;.
    # @param site_id [Integer] Id for specific site.
    # @param parameter_name_id [Integer] Id for specific parameter name.
    # @param parameter_value_id [Integer] Id for specific parameter value.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [Array<(CampaignContentDetailsList, Integer, Hash)>] CampaignContentDetailsList data, response status code and response headers
    def sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_details_get_with_http_info(site_id, parameter_name_id, parameter_value_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_details_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_details_get"
      end
      # verify the required parameter 'parameter_name_id' is set
      if @api_client.config.client_side_validation && parameter_name_id.nil?
        fail ArgumentError, "Missing the required parameter 'parameter_name_id' when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_details_get"
      end
      # verify the required parameter 'parameter_value_id' is set
      if @api_client.config.client_side_validation && parameter_value_id.nil?
        fail ArgumentError, "Missing the required parameter 'parameter_value_id' when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_details_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_details_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_details_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_details_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/analytics/campaigns/contents/{parameter_name_id}/{parameter_value_id}/details'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s)).sub('{' + 'parameter_name_id' + '}', CGI.escape(parameter_name_id.to_s)).sub('{' + 'parameter_value_id' + '}', CGI.escape(parameter_value_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter_id'] = opts[:'filter_id'] if !opts[:'filter_id'].nil?
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CampaignContentDetailsList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_details_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_details_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get historical data for specific content from campaigns
    # A series of historical data points showing the amount of visits for a specific `content` value.  When viewing historical data the resolution of the data points will be dependent on the period specified. For single-day periods the resolution will be hours. For periods less than 62 days (approximately two months) the resolution will be days. For longer periods the resolution will be months.
    # @param site_id [Integer] Id for specific site.
    # @param parameter_name_id [Integer] Id for specific parameter name.
    # @param parameter_value_id [Integer] Id for specific parameter value.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [VisitsGraphItemList]
    def sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_history_get(site_id, parameter_name_id, parameter_value_id, opts = {})
      data, _status_code, _headers = sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_history_get_with_http_info(site_id, parameter_name_id, parameter_value_id, opts)
      data
    end

    # Get historical data for specific content from campaigns
    # A series of historical data points showing the amount of visits for a specific &#x60;content&#x60; value.  When viewing historical data the resolution of the data points will be dependent on the period specified. For single-day periods the resolution will be hours. For periods less than 62 days (approximately two months) the resolution will be days. For longer periods the resolution will be months.
    # @param site_id [Integer] Id for specific site.
    # @param parameter_name_id [Integer] Id for specific parameter name.
    # @param parameter_value_id [Integer] Id for specific parameter value.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [Array<(VisitsGraphItemList, Integer, Hash)>] VisitsGraphItemList data, response status code and response headers
    def sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_history_get_with_http_info(site_id, parameter_name_id, parameter_value_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_history_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_history_get"
      end
      # verify the required parameter 'parameter_name_id' is set
      if @api_client.config.client_side_validation && parameter_name_id.nil?
        fail ArgumentError, "Missing the required parameter 'parameter_name_id' when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_history_get"
      end
      # verify the required parameter 'parameter_value_id' is set
      if @api_client.config.client_side_validation && parameter_value_id.nil?
        fail ArgumentError, "Missing the required parameter 'parameter_value_id' when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_history_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_history_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_history_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_history_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/analytics/campaigns/contents/{parameter_name_id}/{parameter_value_id}/history'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s)).sub('{' + 'parameter_name_id' + '}', CGI.escape(parameter_name_id.to_s)).sub('{' + 'parameter_value_id' + '}', CGI.escape(parameter_value_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter_id'] = opts[:'filter_id'] if !opts[:'filter_id'].nil?
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VisitsGraphItemList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_history_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_history_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pages related to specific content from campaigns
    # Shows the pages where the specified `content` has been used.
    # @param site_id [Integer] Id for specific site.
    # @param parameter_name_id [Integer] Id for specific parameter name.
    # @param parameter_value_id [Integer] Id for specific parameter value.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [CampaignPagesList]
    def sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_pages_get(site_id, parameter_name_id, parameter_value_id, opts = {})
      data, _status_code, _headers = sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_pages_get_with_http_info(site_id, parameter_name_id, parameter_value_id, opts)
      data
    end

    # Get pages related to specific content from campaigns
    # Shows the pages where the specified &#x60;content&#x60; has been used.
    # @param site_id [Integer] Id for specific site.
    # @param parameter_name_id [Integer] Id for specific parameter name.
    # @param parameter_value_id [Integer] Id for specific parameter value.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :filter_id Id for specific filter.
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [Array<(CampaignPagesList, Integer, Hash)>] CampaignPagesList data, response status code and response headers
    def sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_pages_get_with_http_info(site_id, parameter_name_id, parameter_value_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_pages_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_pages_get"
      end
      # verify the required parameter 'parameter_name_id' is set
      if @api_client.config.client_side_validation && parameter_name_id.nil?
        fail ArgumentError, "Missing the required parameter 'parameter_name_id' when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_pages_get"
      end
      # verify the required parameter 'parameter_value_id' is set
      if @api_client.config.client_side_validation && parameter_value_id.nil?
        fail ArgumentError, "Missing the required parameter 'parameter_value_id' when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_pages_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_pages_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_pages_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_pages_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/analytics/campaigns/contents/{parameter_name_id}/{parameter_value_id}/pages'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s)).sub('{' + 'parameter_name_id' + '}', CGI.escape(parameter_name_id.to_s)).sub('{' + 'parameter_value_id' + '}', CGI.escape(parameter_value_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter_id'] = opts[:'filter_id'] if !opts[:'filter_id'].nil?
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CampaignPagesList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.sites_site_id_analytics_campaigns_contents_parameter_name_id_parameter_value_id_pages_get",
[...]
