=begin
#Siteimprove API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.1.0

=end

require 'cgi'

module SiteimproveAPIClient
  class QualityAssuranceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get capture tags from inventory
    # All capture tags and the pages on which they have been detected
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [BodyTagNameList]
    def sites_site_id_quality_assurance_inventory_capture_tags_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_quality_assurance_inventory_capture_tags_get_with_http_info(site_id, opts)
      data
    end

    # Get capture tags from inventory
    # All capture tags and the pages on which they have been detected
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [Array<(BodyTagNameList, Integer, Hash)>] BodyTagNameList data, response status code and response headers
    def sites_site_id_quality_assurance_inventory_capture_tags_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/quality_assurance/inventory/capture_tags'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BodyTagNameList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QualityAssuranceApi#sites_site_id_quality_assurance_inventory_capture_tags_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get capture tags occurrences from inventory
    # The occurrences of a specific capture tag.
    # @param site_id [Integer] Id for specific site.
    # @param tag_name_id [Integer] Id for specific tag.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [BodyTagNameContentList]
    def sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_occurrences_get(site_id, tag_name_id, opts = {})
      data, _status_code, _headers = sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_occurrences_get_with_http_info(site_id, tag_name_id, opts)
      data
    end

    # Get capture tags occurrences from inventory
    # The occurrences of a specific capture tag.
    # @param site_id [Integer] Id for specific site.
    # @param tag_name_id [Integer] Id for specific tag.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [Array<(BodyTagNameContentList, Integer, Hash)>] BodyTagNameContentList data, response status code and response headers
    def sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_occurrences_get_with_http_info(site_id, tag_name_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_occurrences_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_occurrences_get"
      end
      # verify the required parameter 'tag_name_id' is set
      if @api_client.config.client_side_validation && tag_name_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_name_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_occurrences_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_occurrences_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_occurrences_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_occurrences_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/quality_assurance/inventory/capture_tags/{tag_name_id}/occurrences'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s)).sub('{' + 'tag_name_id' + '}', CGI.escape(tag_name_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BodyTagNameContentList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_occurrences_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QualityAssuranceApi#sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_occurrences_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get capture tags occurrences' pages from inventory
    # The pages for a specific capture tag occurence.
    # @param site_id [Integer] Id for specific site.
    # @param tag_name_id [Integer] Id for specific tag.
    # @param tag_value_id [Integer] Id for specific tag value.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :ids Return all items that is one of the listed identifiers.  Values are separated by comma, as in ids&#x3D;1,2,3.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [ReferringPageList]
    def sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_values_tag_value_id_pages_get(site_id, tag_name_id, tag_value_id, opts = {})
      data, _status_code, _headers = sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_values_tag_value_id_pages_get_with_http_info(site_id, tag_name_id, tag_value_id, opts)
      data
    end

    # Get capture tags occurrences&#39; pages from inventory
    # The pages for a specific capture tag occurence.
    # @param site_id [Integer] Id for specific site.
    # @param tag_name_id [Integer] Id for specific tag.
    # @param tag_value_id [Integer] Id for specific tag value.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :ids Return all items that is one of the listed identifiers.  Values are separated by comma, as in ids&#x3D;1,2,3.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [Array<(ReferringPageList, Integer, Hash)>] ReferringPageList data, response status code and response headers
    def sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_values_tag_value_id_pages_get_with_http_info(site_id, tag_name_id, tag_value_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_values_tag_value_id_pages_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_values_tag_value_id_pages_get"
      end
      # verify the required parameter 'tag_name_id' is set
      if @api_client.config.client_side_validation && tag_name_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_name_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_values_tag_value_id_pages_get"
      end
      # verify the required parameter 'tag_value_id' is set
      if @api_client.config.client_side_validation && tag_value_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_value_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_values_tag_value_id_pages_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_values_tag_value_id_pages_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_values_tag_value_id_pages_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_values_tag_value_id_pages_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/quality_assurance/inventory/capture_tags/{tag_name_id}/values/{tag_value_id}/pages'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s)).sub('{' + 'tag_name_id' + '}', CGI.escape(tag_name_id.to_s)).sub('{' + 'tag_value_id' + '}', CGI.escape(tag_value_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(opts[:'ids'], :csv) if !opts[:'ids'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReferringPageList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"QualityAssuranceApi.sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_values_tag_value_id_pages_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QualityAssuranceApi#sites_site_id_quality_assurance_inventory_capture_tags_tag_name_id_values_tag_value_id_pages_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pages with css from css inventory
    # All pages with the detected phone number.
    # @param site_id [Integer] Id for specific site.
    # @param css_id [Integer] Id of the CSS file
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :ids Return all items that is one of the listed identifiers.  Values are separated by comma, as in ids&#x3D;1,2,3.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [ReferringPageList]
    def sites_site_id_quality_assurance_inventory_css_css_id_pages_with_css_get(site_id, css_id, opts = {})
      data, _status_code, _headers = sites_site_id_quality_assurance_inventory_css_css_id_pages_with_css_get_with_http_info(site_id, css_id, opts)
      data
    end

    # Get pages with css from css inventory
    # All pages with the detected phone number.
    # @param site_id [Integer] Id for specific site.
    # @param css_id [Integer] Id of the CSS file
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :ids Return all items that is one of the listed identifiers.  Values are separated by comma, as in ids&#x3D;1,2,3.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [Array<(ReferringPageList, Integer, Hash)>] ReferringPageList data, response status code and response headers
    def sites_site_id_quality_assurance_inventory_css_css_id_pages_with_css_get_with_http_info(site_id, css_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_css_id_pages_with_css_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_css_id_pages_with_css_get"
      end
      # verify the required parameter 'css_id' is set
      if @api_client.config.client_side_validation && css_id.nil?
        fail ArgumentError, "Missing the required parameter 'css_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_css_id_pages_with_css_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_css_id_pages_with_css_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_css_id_pages_with_css_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_css_id_pages_with_css_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/quality_assurance/inventory/css/{css_id}/pages_with_css'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s)).sub('{' + 'css_id' + '}', CGI.escape(css_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(opts[:'ids'], :csv) if !opts[:'ids'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReferringPageList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_css_id_pages_with_css_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QualityAssuranceApi#sites_site_id_quality_assurance_inventory_css_css_id_pages_with_css_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pages without css from css inventory
    # All pages with the detected phone number.
    # @param site_id [Integer] Id for specific site.
    # @param css_id [Integer] Id of the CSS file
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :ids Return all items that is one of the listed identifiers.  Values are separated by comma, as in ids&#x3D;1,2,3.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [ReferringPageList]
    def sites_site_id_quality_assurance_inventory_css_css_id_pages_without_css_get(site_id, css_id, opts = {})
      data, _status_code, _headers = sites_site_id_quality_assurance_inventory_css_css_id_pages_without_css_get_with_http_info(site_id, css_id, opts)
      data
    end

    # Get pages without css from css inventory
    # All pages with the detected phone number.
    # @param site_id [Integer] Id for specific site.
    # @param css_id [Integer] Id of the CSS file
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :ids Return all items that is one of the listed identifiers.  Values are separated by comma, as in ids&#x3D;1,2,3.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [Array<(ReferringPageList, Integer, Hash)>] ReferringPageList data, response status code and response headers
    def sites_site_id_quality_assurance_inventory_css_css_id_pages_without_css_get_with_http_info(site_id, css_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_css_id_pages_without_css_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_css_id_pages_without_css_get"
      end
      # verify the required parameter 'css_id' is set
      if @api_client.config.client_side_validation && css_id.nil?
        fail ArgumentError, "Missing the required parameter 'css_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_css_id_pages_without_css_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_css_id_pages_without_css_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_css_id_pages_without_css_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_css_id_pages_without_css_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/quality_assurance/inventory/css/{css_id}/pages_without_css'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s)).sub('{' + 'css_id' + '}', CGI.escape(css_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(opts[:'ids'], :csv) if !opts[:'ids'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReferringPageList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_css_id_pages_without_css_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QualityAssuranceApi#sites_site_id_quality_assurance_inventory_css_css_id_pages_without_css_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get css assets from inventory
    # All linked CSS assets and the pages on which they have been detected on the site.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [CssFileList]
    def sites_site_id_quality_assurance_inventory_css_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_quality_assurance_inventory_css_get_with_http_info(site_id, opts)
      data
    end

    # Get css assets from inventory
    # All linked CSS assets and the pages on which they have been detected on the site.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [Array<(CssFileList, Integer, Hash)>] CssFileList data, response status code and response headers
    def sites_site_id_quality_assurance_inventory_css_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/quality_assurance/inventory/css'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CssFileList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"QualityAssuranceApi.sites_site_id_quality_assurance_inventory_css_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QualityAssuranceApi#sites_site_id_quality_assurance_inventory_css_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get documents from inventory
    # A full list of all detected documents.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @option opts [String] :search_in Specified query must match either url or title. (default to 'url')
    # @return [DocumentList]
    def sites_site_id_quality_assurance_inventory_documents_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_quality_assurance_inventory_documents_get_with_http_info(site_id, opts)
      data
    end

    # Get documents from inventory
    # A full list of all detected documents.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @option opts [String] :search_in Specified query must match either url or title. (default to 'url')
    # @return [Array<(DocumentList, Integer, Hash)>] DocumentList data, response status code and response headers
    def sites_site_id_quality_assurance_inventory_documents_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QualityAssuranceApi.sites_site_id_quality_assurance_inventory_documents_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_documents_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_documents_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_documents_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_documents_get, must be greater than or equal to 1.'
      end

      allowable_values = ["url", "title"]
      if @api_client.config.client_side_validation && opts[:'search_in'] && !allowable_values.include?(opts[:'search_in'])
        fail ArgumentError, "invalid value for \"search_in\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/sites/{site_id}/quality_assurance/inventory/documents'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'search_in'] = opts[:'search_in'] if !opts[:'search_in'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"QualityAssuranceApi.sites_site_id_quality_assurance_inventory_documents_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QualityAssuranceApi#sites_site_id_quality_assurance_inventory_documents_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pages with email from inventory
    # All pages with the detected phone number.
    # @param site_id [Integer] Id for specific site.
    # @param email_address_id [Integer] Id for specific email address.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :ids Return all items that is one of the listed identifiers.  Values are separated by comma, as in ids&#x3D;1,2,3.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [ReferringPageList]
    def sites_site_id_quality_assurance_inventory_email_addresses_email_address_id_pages_get(site_id, email_address_id, opts = {})
      data, _status_code, _headers = sites_site_id_quality_assurance_inventory_email_addresses_email_address_id_pages_get_with_http_info(site_id, email_address_id, opts)
      data
    end

    # Get pages with email from inventory
    # All pages with the detected phone number.
    # @param site_id [Integer] Id for specific site.
    # @param email_address_id [Integer] Id for specific email address.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :ids Return all items that is one of the listed identifiers.  Values are separated by comma, as in ids&#x3D;1,2,3.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [Array<(ReferringPageList, Integer, Hash)>] ReferringPageList data, response status code and response headers
    def sites_site_id_quality_assurance_inventory_email_addresses_email_address_id_pages_get_with_http_info(site_id, email_address_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QualityAssuranceApi.sites_site_id_quality_assurance_inventory_email_addresses_email_address_id_pages_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_email_addresses_email_address_id_pages_get"
      end
      # verify the required parameter 'email_address_id' is set
      if @api_client.config.client_side_validation && email_address_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_address_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_email_addresses_email_address_id_pages_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_email_addresses_email_address_id_pages_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_email_addresses_email_address_id_pages_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_email_addresses_email_address_id_pages_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/quality_assurance/inventory/email_addresses/{email_address_id}/pages'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s)).sub('{' + 'email_address_id' + '}', CGI.escape(email_address_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(opts[:'ids'], :csv) if !opts[:'ids'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReferringPageList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"QualityAssuranceApi.sites_site_id_quality_assurance_inventory_email_addresses_email_address_id_pages_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QualityAssuranceApi#sites_site_id_quality_assurance_inventory_email_addresses_email_address_id_pages_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email addresses from inventory
    # All email addresses that have been detected on the site.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [EmailAddressList1]
    def sites_site_id_quality_assurance_inventory_email_addresses_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_quality_assurance_inventory_email_addresses_get_with_http_info(site_id, opts)
      data
    end

    # Get email addresses from inventory
    # All email addresses that have been detected on the site.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [Array<(EmailAddressList1, Integer, Hash)>] EmailAddressList1 data, response status code and response headers
    def sites_site_id_quality_assurance_inventory_email_addresses_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QualityAssuranceApi.sites_site_id_quality_assurance_inventory_email_addresses_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_email_addresses_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_email_addresses_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_email_addresses_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_email_addresses_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/quality_assurance/inventory/email_addresses'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailAddressList1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"QualityAssuranceApi.sites_site_id_quality_assurance_inventory_email_addresses_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QualityAssuranceApi#sites_site_id_quality_assurance_inventory_email_addresses_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get history from inventory
    # Inventory history with the total count after each crawl.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [InventoryHistoryItemList]
    def sites_site_id_quality_assurance_inventory_history_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_quality_assurance_inventory_history_get_with_http_info(site_id, opts)
      data
    end

    # Get history from inventory
    # Inventory history with the total count after each crawl.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [Array<(InventoryHistoryItemList, Integer, Hash)>] InventoryHistoryItemList data, response status code and response headers
    def sites_site_id_quality_assurance_inventory_history_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QualityAssuranceApi.sites_site_id_quality_assurance_inventory_history_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_history_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_history_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_history_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_history_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/quality_assurance/inventory/history'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InventoryHistoryItemList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"QualityAssuranceApi.sites_site_id_quality_assurance_inventory_history_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QualityAssuranceApi#sites_site_id_quality_assurance_inventory_history_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get link texts from inventory
    # Text used in relation to links.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [LinkTextList1]
    def sites_site_id_quality_assurance_inventory_link_texts_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_quality_assurance_inventory_link_texts_get_with_http_info(site_id, opts)
      data
    end

    # Get link texts from inventory
    # Text used in relation to links.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [Array<(LinkTextList1, Integer, Hash)>] LinkTextList1 data, response status code and response headers
    def sites_site_id_quality_assurance_inventory_link_texts_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QualityAssuranceApi.sites_site_id_quality_assurance_inventory_link_texts_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_link_texts_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_link_texts_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_link_texts_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_link_texts_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/quality_assurance/inventory/link_texts'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkTextList1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"QualityAssuranceApi.sites_site_id_quality_assurance_inventory_link_texts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QualityAssuranceApi#sites_site_id_quality_assurance_inventory_link_texts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pages with link text from inventory
    # All pages with the link text.
    # @param site_id [Integer] Id for specific site.
    # @param text_id [Integer] Id for specific (link) text.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Array<Integer>] :ids Return all items that is one of the listed identifiers.  Values are separated by comma, as in ids&#x3D;1,2,3.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [ReferringPageForLinktextList]
    def sites_site_id_quality_assurance_inventory_link_texts_text_id_pages_get(site_id, text_id, opts = {})
      data, _status_code, _headers = sites_site_id_quality_assurance_inventory_link_texts_text_id_pages_get_with_http_info(site_id, text_id, opts)
      data
    end

    # Get pages with link text from inventory
    # All pages with the link text.
    # @param site_id [Integer] Id for specific site.
    # @param text_id [Integer] Id for specific (link) text.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Array<Integer>] :ids Return all items that is one of the listed identifiers.  Values are separated by comma, as in ids&#x3D;1,2,3.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [Array<(ReferringPageForLinktextList, Integer, Hash)>] ReferringPageForLinktextList data, response status code and response headers
    def sites_site_id_quality_assurance_inventory_link_texts_text_id_pages_get_with_http_info(site_id, text_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QualityAssuranceApi.sites_site_id_quality_assurance_inventory_link_texts_text_id_pages_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_link_texts_text_id_pages_get"
      end
      # verify the required parameter 'text_id' is set
      if @api_client.config.client_side_validation && text_id.nil?
        fail ArgumentError, "Missing the required parameter 'text_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_link_texts_text_id_pages_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_link_texts_text_id_pages_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_link_texts_text_id_pages_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_link_texts_text_id_pages_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/quality_assurance/inventory/link_texts/{text_id}/pages'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s)).sub('{' + 'text_id' + '}', CGI.escape(text_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'ids'] = @api_client.build_collection_param(opts[:'ids'], :csv) if !opts[:'ids'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReferringPageForLinktextList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"QualityAssuranceApi.sites_site_id_quality_assurance_inventory_link_texts_text_id_pages_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QualityAssuranceApi#sites_site_id_quality_assurance_inventory_link_texts_text_id_pages_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get links from inventory
    # All links detected on the site.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [LinkList]
    def sites_site_id_quality_assurance_inventory_links_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_quality_assurance_inventory_links_get_with_http_info(site_id, opts)
      data
    end

    # Get links from inventory
    # All links detected on the site.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [Array<(LinkList, Integer, Hash)>] LinkList data, response status code and response headers
    def sites_site_id_quality_assurance_inventory_links_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/quality_assurance/inventory/links'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QualityAssuranceApi#sites_site_id_quality_assurance_inventory_links_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get documents with link
    # All documents containing this particular link.
    # @param site_id [Integer] Id for specific site.
    # @param link_id [Integer] Id of a specific link/URL.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [DocumentWithLinkList]
    def sites_site_id_quality_assurance_inventory_links_link_id_documents_get(site_id, link_id, opts = {})
      data, _status_code, _headers = sites_site_id_quality_assurance_inventory_links_link_id_documents_get_with_http_info(site_id, link_id, opts)
      data
    end

    # Get documents with link
    # All documents containing this particular link.
    # @param site_id [Integer] Id for specific site.
    # @param link_id [Integer] Id of a specific link/URL.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [Array<(DocumentWithLinkList, Integer, Hash)>] DocumentWithLinkList data, response status code and response headers
    def sites_site_id_quality_assurance_inventory_links_link_id_documents_get_with_http_info(site_id, link_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_link_id_documents_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_link_id_documents_get"
      end
      # verify the required parameter 'link_id' is set
      if @api_client.config.client_side_validation && link_id.nil?
        fail ArgumentError, "Missing the required parameter 'link_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_link_id_documents_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_link_id_documents_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_link_id_documents_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_link_id_documents_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/quality_assurance/inventory/links/{link_id}/documents'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s)).sub('{' + 'link_id' + '}', CGI.escape(link_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentWithLinkList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_link_id_documents_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QualityAssuranceApi#sites_site_id_quality_assurance_inventory_links_link_id_documents_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pages with link
    # All pages with the detected link.
    # @param site_id [Integer] Id for specific site.
    # @param link_id [Integer] Id of a specific link/URL.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :ids Return all items that is one of the listed identifiers.  Values are separated by comma, as in ids&#x3D;1,2,3.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [ReferringPageList]
    def sites_site_id_quality_assurance_inventory_links_link_id_pages_get(site_id, link_id, opts = {})
      data, _status_code, _headers = sites_site_id_quality_assurance_inventory_links_link_id_pages_get_with_http_info(site_id, link_id, opts)
      data
    end

    # Get pages with link
    # All pages with the detected link.
    # @param site_id [Integer] Id for specific site.
    # @param link_id [Integer] Id of a specific link/URL.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :ids Return all items that is one of the listed identifiers.  Values are separated by comma, as in ids&#x3D;1,2,3.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [Array<(ReferringPageList, Integer, Hash)>] ReferringPageList data, response status code and response headers
    def sites_site_id_quality_assurance_inventory_links_link_id_pages_get_with_http_info(site_id, link_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_link_id_pages_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_link_id_pages_get"
      end
      # verify the required parameter 'link_id' is set
      if @api_client.config.client_side_validation && link_id.nil?
        fail ArgumentError, "Missing the required parameter 'link_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_link_id_pages_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_link_id_pages_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_link_id_pages_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_link_id_pages_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/quality_assurance/inventory/links/{link_id}/pages'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s)).sub('{' + 'link_id' + '}', CGI.escape(link_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(opts[:'ids'], :csv) if !opts[:'ids'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReferringPageList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"QualityAssuranceApi.sites_site_id_quality_assurance_inventory_links_link_id_pages_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QualityAssuranceApi#sites_site_id_quality_assurance_inventory_links_link_id_pages_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get media files from inventory
    # All media files on the site.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [MediaList]
    def sites_site_id_quality_assurance_inventory_media_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_quality_assurance_inventory_media_get_with_http_info(site_id, opts)
      data
    end

    # Get media files from inventory
    # All media files on the site.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [Array<(MediaList, Integer, Hash)>] MediaList data, response status code and response headers
    def sites_site_id_quality_assurance_inventory_media_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QualityAssuranceApi.sites_site_id_quality_assurance_inventory_media_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_media_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_media_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_media_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_media_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/quality_assurance/inventory/media'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MediaList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"QualityAssuranceApi.sites_site_id_quality_assurance_inventory_media_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QualityAssuranceApi#sites_site_id_quality_assurance_inventory_media_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get meta tags from inventory
    # All meta tags found anywhere on the site.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [MetaTagNameList1]
    def sites_site_id_quality_assurance_inventory_meta_tags_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_quality_assurance_inventory_meta_tags_get_with_http_info(site_id, opts)
      data
    end

    # Get meta tags from inventory
    # All meta tags found anywhere on the site.
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [Array<(MetaTagNameList1, Integer, Hash)>] MetaTagNameList1 data, response status code and response headers
    def sites_site_id_quality_assurance_inventory_meta_tags_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QualityAssuranceApi.sites_site_id_quality_assurance_inventory_meta_tags_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_meta_tags_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_meta_tags_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_meta_tags_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_meta_tags_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/quality_assurance/inventory/meta_tags'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MetaTagNameList1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"QualityAssuranceApi.sites_site_id_quality_assurance_inventory_meta_tags_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QualityAssuranceApi#sites_site_id_quality_assurance_inventory_meta_tags_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get meta tag contents
    # All occurrences of the specific meta tag.
    # @param site_id [Integer] Id for specific site.
    # @param meta_name_id [Integer] Id for specific meta name.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [MetaTagNameContentList]
    def sites_site_id_quality_assurance_inventory_meta_tags_meta_name_id_contents_get(site_id, meta_name_id, opts = {})
      data, _status_code, _headers = sites_site_id_quality_assurance_inventory_meta_tags_meta_name_id_contents_get_with_http_info(site_id, meta_name_id, opts)
      data
    end

    # Get meta tag contents
    # All occurrences of the specific meta tag.
    # @param site_id [Integer] Id for specific site.
    # @param meta_name_id [Integer] Id for specific meta name.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [Array<(MetaTagNameContentList, Integer, Hash)>] MetaTagNameContentList data, response status code and response headers
    def sites_site_id_quality_assurance_inventory_meta_tags_meta_name_id_contents_get_with_http_info(site_id, meta_name_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QualityAssuranceApi.sites_site_id_quality_assurance_inventory_meta_tags_meta_name_id_contents_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_meta_tags_meta_name_id_contents_get"
      end
      # verify the required parameter 'meta_name_id' is set
      if @api_client.config.client_side_validation && meta_name_id.nil?
        fail ArgumentError, "Missing the required parameter 'meta_name_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_meta_tags_meta_name_id_contents_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_meta_tags_meta_name_id_contents_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_meta_tags_meta_name_id_contents_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_meta_tags_meta_name_id_contents_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/quality_assurance/inventory/meta_tags/{meta_name_id}/contents'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s)).sub('{' + 'meta_name_id' + '}', CGI.escape(meta_name_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MetaTagNameContentList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"QualityAssuranceApi.sites_site_id_quality_assurance_inventory_meta_tags_meta_name_id_contents_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QualityAssuranceApi#sites_site_id_quality_assurance_inventory_meta_tags_meta_name_id_contents_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get meta tag pages
    # All pages with the detected phone number
    # @param site_id [Integer] Id for specific site.
    # @param meta_name_id [Integer] Id for specific meta name.
    # @param meta_content_id [Integer] Id for specific meta content.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :ids Return all items that is one of the listed identifiers.  Values are separated by comma, as in ids&#x3D;1,2,3.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [ReferringPageList]
    def sites_site_id_quality_assurance_inventory_meta_tags_meta_name_id_contents_meta_content_id_pages_get(site_id, meta_name_id, meta_content_id, opts = {})
      data, _status_code, _headers = sites_site_id_quality_assurance_inventory_meta_tags_meta_name_id_contents_meta_content_id_pages_get_with_http_info(site_id, meta_name_id, meta_content_id, opts)
      data
    end

    # Get meta tag pages
    # All pages with the detected phone number
    # @param site_id [Integer] Id for specific site.
    # @param meta_name_id [Integer] Id for specific meta name.
    # @param meta_content_id [Integer] Id for specific meta content.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :ids Return all items that is one of the listed identifiers.  Values are separated by comma, as in ids&#x3D;1,2,3.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [Array<(ReferringPageList, Integer, Hash)>] ReferringPageList data, response status code and response headers
    def sites_site_id_quality_assurance_inventory_meta_tags_meta_name_id_contents_meta_content_id_pages_get_with_http_info(site_id, meta_name_id, meta_content_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QualityAssuranceApi.sites_site_id_quality_assurance_inventory_meta_tags_meta_name_id_contents_meta_content_id_pages_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_meta_tags_meta_name_id_contents_meta_content_id_pages_get"
      end
      # verify the required parameter 'meta_name_id' is set
      if @api_client.config.client_side_validation && meta_name_id.nil?
        fail ArgumentError, "Missing the required parameter 'meta_name_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_meta_tags_meta_name_id_contents_meta_content_id_pages_get"
      end
      # verify the required parameter 'meta_content_id' is set
      if @api_client.config.client_side_validation && meta_content_id.nil?
        fail ArgumentError, "Missing the required parameter 'meta_content_id' when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_meta_tags_meta_name_id_contents_meta_content_id_pages_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling QualityAssuranceApi.sites_site_id_quality_assurance_inventory_meta_tags_meta_name_id_contents_meta_content_id_pages_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
[...]
