=begin
#Siteimprove API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.1.0

=end

require 'cgi'

module SiteimproveAPIClient
  class SeoV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get activity plans
    # Get all SEO activity plans on this site
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [ActivityPlanList]
    def sites_site_id_seov2_activity_plans_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_activity_plans_get_with_http_info(site_id, opts)
      data
    end

    # Get activity plans
    # Get all SEO activity plans on this site
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [Array<(ActivityPlanList, Integer, Hash)>] ActivityPlanList data, response status code and response headers
    def sites_site_id_seov2_activity_plans_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_activity_plans_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_activity_plans_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling SeoV2Api.sites_site_id_seov2_activity_plans_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_activity_plans_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_activity_plans_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/seov2/activity_plans'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActivityPlanList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_activity_plans_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_activity_plans_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get competitors for the specific activity plan
    # Get all competitors for the activity plan
    # @param site_id [Integer] Id for specific site.
    # @param activity_plan_id [Integer] Id for specific activity plan
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [CompetitorAnalysisVisibilityScoreTrendList]
    def sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_get(site_id, activity_plan_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_get_with_http_info(site_id, activity_plan_id, opts)
      data
    end

    # Get competitors for the specific activity plan
    # Get all competitors for the activity plan
    # @param site_id [Integer] Id for specific site.
    # @param activity_plan_id [Integer] Id for specific activity plan
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [Array<(CompetitorAnalysisVisibilityScoreTrendList, Integer, Hash)>] CompetitorAnalysisVisibilityScoreTrendList data, response status code and response headers
    def sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_get_with_http_info(site_id, activity_plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_get"
      end
      # verify the required parameter 'activity_plan_id' is set
      if @api_client.config.client_side_validation && activity_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_plan_id' when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/seov2/activity_plans/plans/{activity_plan_id}/competitors'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s)).sub('{' + 'activity_plan_id' + '}', CGI.escape(activity_plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompetitorAnalysisVisibilityScoreTrendList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get competitors search engine visibility historically
    # Get yours and your competitors search engine visibility historically for the activity plan
    # @param site_id [Integer] Id for specific site.
    # @param activity_plan_id [Integer] Id for specific activity plan
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [VisibilityScoreHistoryItemList]
    def sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_history_get(site_id, activity_plan_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_history_get_with_http_info(site_id, activity_plan_id, opts)
      data
    end

    # Get competitors search engine visibility historically
    # Get yours and your competitors search engine visibility historically for the activity plan
    # @param site_id [Integer] Id for specific site.
    # @param activity_plan_id [Integer] Id for specific activity plan
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [Array<(VisibilityScoreHistoryItemList, Integer, Hash)>] VisibilityScoreHistoryItemList data, response status code and response headers
    def sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_history_get_with_http_info(site_id, activity_plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_history_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_history_get"
      end
      # verify the required parameter 'activity_plan_id' is set
      if @api_client.config.client_side_validation && activity_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_plan_id' when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_history_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_history_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_history_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_history_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/seov2/activity_plans/plans/{activity_plan_id}/competitors/history'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s)).sub('{' + 'activity_plan_id' + '}', CGI.escape(activity_plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VisibilityScoreHistoryItemList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_history_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_history_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the position distribution of competitors
    # Get the position distribution of your website and your competitors
    # @param site_id [Integer] Id for specific site.
    # @param activity_plan_id [Integer] Id for specific activity plan
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [PositionSpreadList]
    def sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_get(site_id, activity_plan_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_get_with_http_info(site_id, activity_plan_id, opts)
      data
    end

    # Get the position distribution of competitors
    # Get the position distribution of your website and your competitors
    # @param site_id [Integer] Id for specific site.
    # @param activity_plan_id [Integer] Id for specific activity plan
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [Array<(PositionSpreadList, Integer, Hash)>] PositionSpreadList data, response status code and response headers
    def sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_get_with_http_info(site_id, activity_plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_get"
      end
      # verify the required parameter 'activity_plan_id' is set
      if @api_client.config.client_side_validation && activity_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_plan_id' when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/seov2/activity_plans/plans/{activity_plan_id}/competitors/positions'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s)).sub('{' + 'activity_plan_id' + '}', CGI.escape(activity_plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PositionSpreadList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the position distribution for your competitors historically
    # Get the historical position distribution of your website and your competitors
    # @param site_id [Integer] Id for specific site.
    # @param activity_plan_id [Integer] Id for specific activity plan
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :range The range of the keywords (default to 'OneToThree')
    # @return [PositionSpreadHistoryItemList]
    def sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_history_get(site_id, activity_plan_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_history_get_with_http_info(site_id, activity_plan_id, opts)
      data
    end

    # Get the position distribution for your competitors historically
    # Get the historical position distribution of your website and your competitors
    # @param site_id [Integer] Id for specific site.
    # @param activity_plan_id [Integer] Id for specific activity plan
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :range The range of the keywords (default to 'OneToThree')
    # @return [Array<(PositionSpreadHistoryItemList, Integer, Hash)>] PositionSpreadHistoryItemList data, response status code and response headers
    def sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_history_get_with_http_info(site_id, activity_plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_history_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_history_get"
      end
      # verify the required parameter 'activity_plan_id' is set
      if @api_client.config.client_side_validation && activity_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_plan_id' when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_history_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_history_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_history_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_history_get, must be greater than or equal to 1.'
      end

      allowable_values = ["one_to_three", "four_to_six", "seven_to_ten", "eleven_to_twenty", "twenty_one_to_thirty", "thirty_one_to_fifty", "fifty_one_to_one_hundred"]
      if @api_client.config.client_side_validation && opts[:'range'] && !allowable_values.include?(opts[:'range'])
        fail ArgumentError, "invalid value for \"range\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/sites/{site_id}/seov2/activity_plans/plans/{activity_plan_id}/competitors/positions/history'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s)).sub('{' + 'activity_plan_id' + '}', CGI.escape(activity_plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'range'] = opts[:'range'] if !opts[:'range'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PositionSpreadHistoryItemList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_history_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_activity_plans_plans_activity_plan_id_competitors_positions_history_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get historical metrics for the activity plan
    # Get historical metrics for the activity plan
    # @param site_id [Integer] Id for specific site.
    # @param activity_plan_id [Integer] Id for specific activity plan
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [ActivityPlanHistoryItemList]
    def sites_site_id_seov2_activity_plans_plans_activity_plan_id_history_get(site_id, activity_plan_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_activity_plans_plans_activity_plan_id_history_get_with_http_info(site_id, activity_plan_id, opts)
      data
    end

    # Get historical metrics for the activity plan
    # Get historical metrics for the activity plan
    # @param site_id [Integer] Id for specific site.
    # @param activity_plan_id [Integer] Id for specific activity plan
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :period Period for which to retrieve data. Default is last 7 days.  A period can be a single date, a date range, or a predefined interval. Only full dates are allowed, not individual hours. Dates are in YYYYMMDD format only.  A single date YYYYMMDD will return data for that day.  A range of dates YYYYMMDD_YYYYMMDD will retrieve data for the period where the start and end date are both fully included.  A predefined interval can be one of the following (case insensitive):   now    today      yesterday    last_seven_days    last_week    last_month    this_month    this_year
    # @return [Array<(ActivityPlanHistoryItemList, Integer, Hash)>] ActivityPlanHistoryItemList data, response status code and response headers
    def sites_site_id_seov2_activity_plans_plans_activity_plan_id_history_get_with_http_info(site_id, activity_plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_history_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_history_get"
      end
      # verify the required parameter 'activity_plan_id' is set
      if @api_client.config.client_side_validation && activity_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_plan_id' when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_history_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_history_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_history_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_history_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/seov2/activity_plans/plans/{activity_plan_id}/history'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s)).sub('{' + 'activity_plan_id' + '}', CGI.escape(activity_plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActivityPlanHistoryItemList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_activity_plans_plans_activity_plan_id_history_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_activity_plans_plans_activity_plan_id_history_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get overall statistics for all activity plans
    # Get overall statistics for all activity plans on your website
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @return [ActivityPlanHighlights]
    def sites_site_id_seov2_activity_plans_summary_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_activity_plans_summary_get_with_http_info(site_id, opts)
      data
    end

    # Get overall statistics for all activity plans
    # Get overall statistics for all activity plans on your website
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActivityPlanHighlights, Integer, Hash)>] ActivityPlanHighlights data, response status code and response headers
    def sites_site_id_seov2_activity_plans_summary_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_activity_plans_summary_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_activity_plans_summary_get"
      end
      # resource path
      local_var_path = '/sites/{site_id}/seov2/activity_plans/summary'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActivityPlanHighlights'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_activity_plans_summary_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_activity_plans_summary_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get content optimization keywords
    # Get content optimization keywords on your website
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :activity_plan_id Id for specific activity plan
    # @option opts [Array<Integer>] :ids Return all items that is one of the listed identifiers.  Values are separated by comma, as in ids&#x3D;1,2,3.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [ContentOptimizationKeywordList]
    def sites_site_id_seov2_content_optimization_keywords_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_content_optimization_keywords_get_with_http_info(site_id, opts)
      data
    end

    # Get content optimization keywords
    # Get content optimization keywords on your website
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :activity_plan_id Id for specific activity plan
    # @option opts [Array<Integer>] :ids Return all items that is one of the listed identifiers.  Values are separated by comma, as in ids&#x3D;1,2,3.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [Array<(ContentOptimizationKeywordList, Integer, Hash)>] ContentOptimizationKeywordList data, response status code and response headers
    def sites_site_id_seov2_content_optimization_keywords_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_content_optimization_keywords_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_content_optimization_keywords_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling SeoV2Api.sites_site_id_seov2_content_optimization_keywords_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_content_optimization_keywords_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_content_optimization_keywords_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/seov2/content_optimization_keywords'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'activity_plan_id'] = opts[:'activity_plan_id'] if !opts[:'activity_plan_id'].nil?
      query_params[:'ids'] = @api_client.build_collection_param(opts[:'ids'], :csv) if !opts[:'ids'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContentOptimizationKeywordList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_content_optimization_keywords_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_content_optimization_keywords_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get overall statistics for content optimization keywords
    # Get overall statistics for content optimization keywords on your website
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :activity_plan_id Id for specific activity plan
    # @return [ContentOptimizationKeywordHighlights]
    def sites_site_id_seov2_content_optimization_keywords_summary_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_content_optimization_keywords_summary_get_with_http_info(site_id, opts)
      data
    end

    # Get overall statistics for content optimization keywords
    # Get overall statistics for content optimization keywords on your website
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :activity_plan_id Id for specific activity plan
    # @return [Array<(ContentOptimizationKeywordHighlights, Integer, Hash)>] ContentOptimizationKeywordHighlights data, response status code and response headers
    def sites_site_id_seov2_content_optimization_keywords_summary_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_content_optimization_keywords_summary_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_content_optimization_keywords_summary_get"
      end
      # resource path
      local_var_path = '/sites/{site_id}/seov2/content_optimization_keywords/summary'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'activity_plan_id'] = opts[:'activity_plan_id'] if !opts[:'activity_plan_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContentOptimizationKeywordHighlights'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_content_optimization_keywords_summary_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_content_optimization_keywords_summary_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get overall broken links stats
    # Get the overall broken links stats for your website
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @return [InternalBrokenSeoLinksInfo]
    def sites_site_id_seov2_issues_broken_links_details_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_issues_broken_links_details_get_with_http_info(site_id, opts)
      data
    end

    # Get overall broken links stats
    # Get the overall broken links stats for your website
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @return [Array<(InternalBrokenSeoLinksInfo, Integer, Hash)>] InternalBrokenSeoLinksInfo data, response status code and response headers
    def sites_site_id_seov2_issues_broken_links_details_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_issues_broken_links_details_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_issues_broken_links_details_get"
      end
      # resource path
      local_var_path = '/sites/{site_id}/seov2/issues/broken_links/details'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InternalBrokenSeoLinksInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_issues_broken_links_details_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_issues_broken_links_details_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get overall broken links stats for entry pages
    # Get overall broken links stats for entry pages
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @return [InternalBrokenEntryPagesSeoLinksInfo]
    def sites_site_id_seov2_issues_broken_links_entry_pages_details_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_issues_broken_links_entry_pages_details_get_with_http_info(site_id, opts)
      data
    end

    # Get overall broken links stats for entry pages
    # Get overall broken links stats for entry pages
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @return [Array<(InternalBrokenEntryPagesSeoLinksInfo, Integer, Hash)>] InternalBrokenEntryPagesSeoLinksInfo data, response status code and response headers
    def sites_site_id_seov2_issues_broken_links_entry_pages_details_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_issues_broken_links_entry_pages_details_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_issues_broken_links_entry_pages_details_get"
      end
      # resource path
      local_var_path = '/sites/{site_id}/seov2/issues/broken_links_entry_pages/details'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InternalBrokenEntryPagesSeoLinksInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_issues_broken_links_entry_pages_details_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_issues_broken_links_entry_pages_details_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get broken links on entry pages
    # Get broken links on entry pages for your website
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [InternalBrokenSeoLinkList]
    def sites_site_id_seov2_issues_broken_links_entry_pages_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_issues_broken_links_entry_pages_get_with_http_info(site_id, opts)
      data
    end

    # Get broken links on entry pages
    # Get broken links on entry pages for your website
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [Array<(InternalBrokenSeoLinkList, Integer, Hash)>] InternalBrokenSeoLinkList data, response status code and response headers
    def sites_site_id_seov2_issues_broken_links_entry_pages_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_issues_broken_links_entry_pages_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_issues_broken_links_entry_pages_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling SeoV2Api.sites_site_id_seov2_issues_broken_links_entry_pages_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_issues_broken_links_entry_pages_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_issues_broken_links_entry_pages_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/seov2/issues/broken_links_entry_pages'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InternalBrokenSeoLinkList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_issues_broken_links_entry_pages_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_issues_broken_links_entry_pages_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the occurrences of broken links on entry pages historically
    # Get the occurrences of broken links on entry pages historically
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [SeoIssueOccurenceHistoryItemList]
    def sites_site_id_seov2_issues_broken_links_entry_pages_history_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_issues_broken_links_entry_pages_history_get_with_http_info(site_id, opts)
      data
    end

    # Get the occurrences of broken links on entry pages historically
    # Get the occurrences of broken links on entry pages historically
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [Array<(SeoIssueOccurenceHistoryItemList, Integer, Hash)>] SeoIssueOccurenceHistoryItemList data, response status code and response headers
    def sites_site_id_seov2_issues_broken_links_entry_pages_history_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_issues_broken_links_entry_pages_history_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_issues_broken_links_entry_pages_history_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling SeoV2Api.sites_site_id_seov2_issues_broken_links_entry_pages_history_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_issues_broken_links_entry_pages_history_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_issues_broken_links_entry_pages_history_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/seov2/issues/broken_links_entry_pages/history'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SeoIssueOccurenceHistoryItemList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_issues_broken_links_entry_pages_history_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_issues_broken_links_entry_pages_history_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get broken links
    # Get the broken links from issues
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [InternalBrokenSeoLinkList]
    def sites_site_id_seov2_issues_broken_links_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_issues_broken_links_get_with_http_info(site_id, opts)
      data
    end

    # Get broken links
    # Get the broken links from issues
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @return [Array<(InternalBrokenSeoLinkList, Integer, Hash)>] InternalBrokenSeoLinkList data, response status code and response headers
    def sites_site_id_seov2_issues_broken_links_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_issues_broken_links_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_issues_broken_links_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling SeoV2Api.sites_site_id_seov2_issues_broken_links_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_issues_broken_links_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_issues_broken_links_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/seov2/issues/broken_links'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InternalBrokenSeoLinkList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_issues_broken_links_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_issues_broken_links_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the occurrences of broken links historically
    # Get the occurrences of broken links historically
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [SeoIssueOccurenceHistoryItemList]
    def sites_site_id_seov2_issues_broken_links_history_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_issues_broken_links_history_get_with_http_info(site_id, opts)
      data
    end

    # Get the occurrences of broken links historically
    # Get the occurrences of broken links historically
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [Array<(SeoIssueOccurenceHistoryItemList, Integer, Hash)>] SeoIssueOccurenceHistoryItemList data, response status code and response headers
    def sites_site_id_seov2_issues_broken_links_history_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_issues_broken_links_history_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_issues_broken_links_history_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling SeoV2Api.sites_site_id_seov2_issues_broken_links_history_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_issues_broken_links_history_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_issues_broken_links_history_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/seov2/issues/broken_links/history'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SeoIssueOccurenceHistoryItemList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_issues_broken_links_history_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_issues_broken_links_history_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get overall stats for canonical issue
    # Get overall stats for canonical issue
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @return [CanonicalUrlsInfo]
    def sites_site_id_seov2_issues_canonical_urls_details_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_issues_canonical_urls_details_get_with_http_info(site_id, opts)
      data
    end

    # Get overall stats for canonical issue
    # Get overall stats for canonical issue
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @return [Array<(CanonicalUrlsInfo, Integer, Hash)>] CanonicalUrlsInfo data, response status code and response headers
    def sites_site_id_seov2_issues_canonical_urls_details_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_issues_canonical_urls_details_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_issues_canonical_urls_details_get"
      end
      # resource path
      local_var_path = '/sites/{site_id}/seov2/issues/canonical_urls/details'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CanonicalUrlsInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_issues_canonical_urls_details_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_issues_canonical_urls_details_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pages not linking to the canonical page
    # Get pages not linking to the canonical page
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @option opts [String] :search_in Specified query must match either url or title. (default to 'url')
    # @return [PageWithCanonicalList]
    def sites_site_id_seov2_issues_canonical_urls_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_issues_canonical_urls_get_with_http_info(site_id, opts)
      data
    end

    # Get pages not linking to the canonical page
    # Get pages not linking to the canonical page
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_id Id for specific page.
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @option opts [String] :search_in Specified query must match either url or title. (default to 'url')
    # @return [Array<(PageWithCanonicalList, Integer, Hash)>] PageWithCanonicalList data, response status code and response headers
    def sites_site_id_seov2_issues_canonical_urls_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_issues_canonical_urls_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_issues_canonical_urls_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling SeoV2Api.sites_site_id_seov2_issues_canonical_urls_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_issues_canonical_urls_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_issues_canonical_urls_get, must be greater than or equal to 1.'
      end

      allowable_values = ["url", "title"]
      if @api_client.config.client_side_validation && opts[:'search_in'] && !allowable_values.include?(opts[:'search_in'])
        fail ArgumentError, "invalid value for \"search_in\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/sites/{site_id}/seov2/issues/canonical_urls'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_id'] = opts[:'page_id'] if !opts[:'page_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'search_in'] = opts[:'search_in'] if !opts[:'search_in'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PageWithCanonicalList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_issues_canonical_urls_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_issues_canonical_urls_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get historical occurrences of canonical issue
    # Get historical occurrences of canonical issue
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [SeoIssueOccurenceHistoryItemList]
    def sites_site_id_seov2_issues_canonical_urls_history_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_issues_canonical_urls_history_get_with_http_info(site_id, opts)
      data
    end

    # Get historical occurrences of canonical issue
    # Get historical occurrences of canonical issue
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [Array<(SeoIssueOccurenceHistoryItemList, Integer, Hash)>] SeoIssueOccurenceHistoryItemList data, response status code and response headers
    def sites_site_id_seov2_issues_canonical_urls_history_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_issues_canonical_urls_history_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_issues_canonical_urls_history_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling SeoV2Api.sites_site_id_seov2_issues_canonical_urls_history_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_issues_canonical_urls_history_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_issues_canonical_urls_history_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/seov2/issues/canonical_urls/history'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SeoIssueOccurenceHistoryItemList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_issues_canonical_urls_history_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_issues_canonical_urls_history_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get overall stats of code to text ratio issue
    # Get overall stats of code to text ratio issue
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @return [PagesCodeTextRatioInfo]
    def sites_site_id_seov2_issues_code_text_ratio_details_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_issues_code_text_ratio_details_get_with_http_info(site_id, opts)
      data
    end

    # Get overall stats of code to text ratio issue
    # Get overall stats of code to text ratio issue
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @return [Array<(PagesCodeTextRatioInfo, Integer, Hash)>] PagesCodeTextRatioInfo data, response status code and response headers
    def sites_site_id_seov2_issues_code_text_ratio_details_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_issues_code_text_ratio_details_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_issues_code_text_ratio_details_get"
      end
      # resource path
      local_var_path = '/sites/{site_id}/seov2/issues/code_text_ratio/details'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PagesCodeTextRatioInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_issues_code_text_ratio_details_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_issues_code_text_ratio_details_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pages for code to text ratio issue
    # Pages with text-to-code ratio below 30%
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @option opts [String] :search_in Specified query must match either url or title. (default to 'url')
    # @return [PageWithLowCodeTextRatioList]
    def sites_site_id_seov2_issues_code_text_ratio_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_issues_code_text_ratio_get_with_http_info(site_id, opts)
      data
    end

    # Get pages for code to text ratio issue
    # Pages with text-to-code ratio below 30%
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @option opts [String] :query Return all items that matches the specified plain text query.
    # @option opts [String] :search_in Specified query must match either url or title. (default to 'url')
    # @return [Array<(PageWithLowCodeTextRatioList, Integer, Hash)>] PageWithLowCodeTextRatioList data, response status code and response headers
    def sites_site_id_seov2_issues_code_text_ratio_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_issues_code_text_ratio_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_issues_code_text_ratio_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling SeoV2Api.sites_site_id_seov2_issues_code_text_ratio_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_issues_code_text_ratio_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_issues_code_text_ratio_get, must be greater than or equal to 1.'
      end

      allowable_values = ["url", "title"]
      if @api_client.config.client_side_validation && opts[:'search_in'] && !allowable_values.include?(opts[:'search_in'])
        fail ArgumentError, "invalid value for \"search_in\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/sites/{site_id}/seov2/issues/code_text_ratio'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'search_in'] = opts[:'search_in'] if !opts[:'search_in'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PageWithLowCodeTextRatioList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_issues_code_text_ratio_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_issues_code_text_ratio_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get historical occurrences of code to text ratio issue
    # Get historical occurrences of code to text ratio issue
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [SeoIssueOccurenceHistoryItemList]
    def sites_site_id_seov2_issues_code_text_ratio_history_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_issues_code_text_ratio_history_get_with_http_info(site_id, opts)
      data
    end

    # Get historical occurrences of code to text ratio issue
    # Get historical occurrences of code to text ratio issue
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @option opts [Integer] :page Page number to show when more than one page in paged output. (default to 1)
    # @option opts [Integer] :page_size Number of items/records per page in paged output. (default to 10)
    # @return [Array<(SeoIssueOccurenceHistoryItemList, Integer, Hash)>] SeoIssueOccurenceHistoryItemList data, response status code and response headers
    def sites_site_id_seov2_issues_code_text_ratio_history_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_issues_code_text_ratio_history_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_issues_code_text_ratio_history_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling SeoV2Api.sites_site_id_seov2_issues_code_text_ratio_history_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_issues_code_text_ratio_history_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SeoV2Api.sites_site_id_seov2_issues_code_text_ratio_history_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sites/{site_id}/seov2/issues/code_text_ratio/history'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SeoIssueOccurenceHistoryItemList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_issues_code_text_ratio_history_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_issues_code_text_ratio_history_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get compression used issue
    # Get compression used issue
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @return [CompressionUsed]
    def sites_site_id_seov2_issues_compression_used_details_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_issues_compression_used_details_get_with_http_info(site_id, opts)
      data
    end

    # Get compression used issue
    # Get compression used issue
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompressionUsed, Integer, Hash)>] CompressionUsed data, response status code and response headers
    def sites_site_id_seov2_issues_compression_used_details_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_issues_compression_used_details_get ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SeoV2Api.sites_site_id_seov2_issues_compression_used_details_get"
      end
      # resource path
      local_var_path = '/sites/{site_id}/seov2/issues/compression_used/details'.sub('{' + 'site_id' + '}', CGI.escape(site_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompressionUsed'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basic_auth']

      new_options = opts.merge(
        :operation => :"SeoV2Api.sites_site_id_seov2_issues_compression_used_details_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoV2Api#sites_site_id_seov2_issues_compression_used_details_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get overall stats for the correct 404 issue
    # Get overall stats for the correct 404 issue
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @return [LinksStatusCodeCorrect404Info]
    def sites_site_id_seov2_issues_correct404s_details_get(site_id, opts = {})
      data, _status_code, _headers = sites_site_id_seov2_issues_correct404s_details_get_with_http_info(site_id, opts)
      data
    end

    # Get overall stats for the correct 404 issue
    # Get overall stats for the correct 404 issue
    # @param site_id [Integer] Id for specific site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :group_id Id for specific group.
    # @return [Array<(LinksStatusCodeCorrect404Info, Integer, Hash)>] LinksStatusCodeCorrect404Info data, response status code and response headers
    def sites_site_id_seov2_issues_correct404s_details_get_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoV2Api.sites_site_id_seov2_issues_correct404s_details_get ...'
      end
      # verify the required parameter 'site_id' is set
[...]
